* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #FAF9F6;
    color: black;
    overflow: hidden;
    overflow-y: scroll;
}

