.navbar {
    background: #FAF9F6;
    height: 5rem;
    width: 100vw;
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
}

.desktopmenulistitem {
    margin: 1rem;
    cursor: pointer;
}

.desktopmenulistitem:hover {
    color: #D2042D;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #D2042D;
}
.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    filter: invert(1);
}

.desktopMenuBtn {
    background: #D2042D;
    color: whitesmoke;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 1rem;
    border-radius: 2rem;
    
}